/* 
COLOR KEYS
*/

:root {
	--clr-white: hsl(0, 0%, 100%);
	--clr-gray-100: hsl(212, 45%, 89%);
	--clr-gray-300: hsl(220, 15%, 55%);
	--clr-gray-700: hsl(218, 44%, 22%);
}

/* 
FONTS
*/

/* Outfit - 400 */

@font-face {
	font-family: "Outfit";
	font-display: swap;
	font-style: normal;
	font-weight: 400;
	src: url(./qr-code-component-main/Outfit/Outfit-Regular.ttf)
		format("truetype");
}

/* Outfit - 700 */

@font-face {
	font-family: "Outfit";
	font-display: swap;
	font-style: normal;
	font-weight: 700;
	src: url(./qr-code-component-main/Outfit/Outfit-Bold.ttf) format("truetype");
}

/* CSS Reset */

/*
  1. Use a more-intuitive box-sizing model.
  2. Remove default margin
*/

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
	font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* GLOBALS */

body {
	font-family: "Outfit", sans-serif;
	width: 100%;
	background-color: var(--clr-gray-100);
}

.main {
	max-width: 360px;
	margin: 5em auto;
}


/* LAYOUT */

.qrSection__container{
    background-color: var(--clr-white);
    padding: 1em;
    border-radius: 10px;
}

.qrSection__container__copy {
    padding: .8em;
    text-align: center;
}

/* TYPOGRAPHY */

.qrSection__container__copy__title {
    color: var(--clr-gray-700);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: .5em;
}

.qrSection__container__copy__content {
    color: var(--clr-gray-300);
    padding: 0 .8em;

}

/* ASSETS */

.qrSection__container__img{
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 1em;
}